* {
    font-size: 15px;
    font-family: "Segoe UI";
}

QWidget {
    background: #505050;
    color: #d5e6d3;
}

QTextEdit {
    background: #202020;
    border-radius: 5px;
    font-family: "Segoe UI Semibold";
    font-size: 20px;
}

QTabBar::tab {
    height: 20px;
    min-width: 70px;
}

QMenuBar {
    border-bottom: 1px inset #202020;
}

QMenuBar::item:selected {
     background-color: #434343;
}

QMenu {
    margin: 2px; /* немного пространства вокруг меню */
    border: 1px solid transparent;
    text-align: center;
}

QMenu::item:selected {
    background: #434343;
}